/* Estilo Geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    background-color: #222;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    text-align: center;
    padding: 200px;
}

main h1 {
    color: #FE9900;
    font-size: 36px;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}

.item li {
    font-size: 24px;
    padding: 10px 0;
}

main input {
    background-color: antiquewhite;
    border: none;
    font-weight: 600;
    letter-spacing: .5px;
    margin-top: 20px;
    padding: 8px 16px;
}